# Supabase Configuration
VITE_SUPABASE_URL=https://supabase.com/dashboard/project/vwbquvteusokldizhdob
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3YnF1dnRldXNva2xkaXpoZG9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxNzg4MDMsImV4cCI6MjA5NDc1NDgwM30.DfOIsT64eOeHI3YhYlcfrt0vUQuYAAdGO-TKvUyiAQU
